@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

.header-menu {

    width: 100%;
    height: 100px;
    background-color: #15202B;
}

.header-menu-left {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 1%;
    /*width: 40%;*/
    height: 100%;
}

.header-menu-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-menu-element {
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    padding: 0px 15px 0px 15px;

    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.header-menu-element-explore {

    color: #2F91F7;
}

.header-menu-element-gallery {
    color: #29ABD6;
}

.header-menu-element-jobs {
    color: #39EDEA;
}

.header-menu-element-events {
    color: #29D6A2;
}

.header-menu-item-icon {
    min-width: 55px;
    min-height: 55px;
}

.header-menu-element-logo {
    min-width: 116px;
    height: 68px;
    background-image: url("Logo.svg");
}

.header-menu-element-explore-icon {
    background-image: url("icon-explore.svg");
}
.header-menu-element-gallery-icon{
    background-image: url("icon-gallery.svg");
}
.header-menu-element-jobs-icon{
    background-image: url("icon-jobs.svg");
}
.header-menu-element-events-icon{
    background-image: url("icon-events.svg");
}

@media screen and (max-width: 1200px) {
    .header-menu-element-explore{
        display: none;
    }
    .header-menu-element-events{
        display: none;
    }
    .header-menu-element-jobs{
        display: none;
    }
    .header-menu-element-gallery{
        display: none;
    }
    .header-menu-element {
        font-family: 'Glory', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        line-height: 1em;
        padding: 0px 3px 0px 3px;

        display: flex;
        align-items: center;
        background-repeat: no-repeat;
    }

    .main-bg-img{
        overflow-x: visible;
        width: fit-content;
        height: fit-content;
    }

}

.main-bg-img{
    width: 100%;
    height: 2000px;

    background: linear-gradient(180deg, rgba(26, 30, 68, 0.921875) 0%, rgba(147, 185, 231, 0) 99.99%, rgba(177, 212, 253, 0) 99.99%), url("adventure.png");
    background-blend-mode: multiply, normal;


    .profile{
        display:flex;
    }

    .profile-info {
        display: flex;
        width: 35%;
        height: 100%;
        /*position: fixed;*/
    }

    .profile-posts {
        display: flex;
        width: available;
    }

    .profile-pic {
        width: 140px;
        height: 140px;
        margin: 10px;
        background: url("profile-pic.png");
    }

}

